extends ../layouts/empty

block content
  .document__header
    +logoLink('login', '', '/', '44px')
    .auth.font-xs
      if user
        button.js-trigger.button.auth__user.font-xs(style='color: #666;', data-target='#user-menu', data-action='userMenuToggle')
          span.auth__user-name= user.firstName
          if user.photo
            .avatar.avatar--navigation
              img.lazy(
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==",
                data-src= `images/users/${user.photo}_50.jpeg`,
                data-srcset= `images/users/${user.photo}_50.jpeg` + ' 1x',
                alt= user.firstName
              )
        include ../partials/user-menu
      else
        a.button.button--outline.button--sm.button--light--hove.mr-1(href='/auth/login') Войти
        a.button.button--sm.button--flat.show-md(href='/auth/signup') Регистрация

  .document__content
    h1.text-center= heading
    .single__body
      p=`Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта ${domain} (далее — «Сайт»).`
      ol
        li
          h2(style='display: inline;') Общие условия:
          ol
            li: p Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
            li: p Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
            li: p Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
        li
          h2(style='display: inline;') Обязательства Пользователя:
          ol
            li: p Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
            li: p Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
            li: p При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
            li: p Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
            li: p Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
            li: p Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
            li: p Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
        li
          h2(style='display: inline;') Прочие условия:
          ol
            li: p Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
            li: p Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
            li: p Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
            li: p Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
      p Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.
      p.font-xxs Пользовательское соглашение обновлено: Август 14, 2019