extends ../layouts/empty

block content
  .document__header
    +logoLink('login', '', '/', '44px')
    .auth.font-xs
      if user
        button.js-trigger.button.auth__user.font-xs(style='color: #666;', data-target='#user-menu', data-action='userMenuToggle')
          span.auth__user-name= user.firstName
          if user.photo
            .avatar.avatar--navigation
              img.lazy(
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==",
                data-src= `images/users/${user.photo}_50.jpeg`,
                data-srcset= `images/users/${user.photo}_50.jpeg` + ' 1x',
                alt= user.firstName
              )
        include ../partials/user-menu
      else
        a.button.button--outline.button--sm.button--light--hove.mr-1(href='/auth/login') Войти
        a.button.button--sm.button--flat.show-md(href='/auth/signup') Регистрация

  .document__content
    h1.text-center= heading
    .single__body
      h2 Согласие пользователя
      p Регистрируясь на данном сайте и проставляя отметку в поле «Я принимаю условия Пользовательского соглашения и Политику конфиденциальности», сопровождающемся ссылкой на настоящую Политику, вы (далее – Пользователь) свободно, своей волей и в своих интересах даете свое согласие на обработку Персональной информации в порядке и на условиях, установленных настоящей Политикой.
      ol
        li
          h2(style='display: inline;') Общие положения
          ol
            li
              p Настоящая Политика является неотъемлемой частью Пользовательского соглашения (далее — «Соглашение»), размещенного и/или доступного в сети Интернет по адресу: 
              a(href=`${domain}/agreement`)=`${domain}/agreement`
              |, а также иных заключаемых с Пользователем договоров, когда это прямо предусмотрено их условиями. Таким образом, заключая Соглашение и указанные договоры установленным в них способом, вы принимаете условия настоящей Политики в полном объеме.
            li: p Способы обработки Персональной информации включают любые действия (операции) или комбинацию действий (операций), в том числе, сбор, запись, систематизация, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение в установленных настоящей Политикой целях с использованием средств автоматизации или без использования таких средств по усмотрению администрации настоящего сайта.
            li: p Здесь и далее в Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем договорами, если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с применимым законодательством, обычаями делового оборота, или научной доктриной.
        li
          h2(style='display: inline;') Персональная информация
          ol
            li
              p Под Персональной информацией в настоящей Политике понимается:
              ol
                li: p Информация, которую Пользователь предоставляет о себе самостоятельно при регистрации или авторизации, а также в процессе дальнейшего использования Сайта, включая персональные данные Пользователя.
                li: p Данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя в обезличенном виде.
            li: p Администрация сайта вправе устанавливать требования к составу Персональной информации Пользователя, которая должна обязательно предоставляться для использования Сайта. Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем по своему усмотрению.
            li: p При регистрации Пользователем обязательно указываются имя, адрес электронной почты и пароль.<br>При регистрации каждому пользователю присваевается уникальный идентификатор (user_id). Идентификатор Пользователя привязан к информации профиля Пользователя.
            li: p Общедоступная информация. По своему усмотрению с целью заполнения профиля на Сайте Пользователь также может предоставить следующие персональные данные о себе: фамилия, имя, фото, сведения о себе в свободной форме. Добавляя информацию в профиль, Пользователь делает такую информацию доступной неограниченному кругу лиц, то есть общедоступной, с учетом настроек отображения информации профиля в Сайте.
            li: p Администрация сайта не осуществляет проверку достоверности предоставляемой Персональной информации и наличия у Пользователя необходимого согласия на ее обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий субъектов персональных данных.
            li
              p Администрация сайта осуществляет сбор и хранение данных о действиях Пользователя в Сайте, используя при этом файлы журналов. В случае, если действия совершены авторизованным Пользователем, такая информация связывается с идентификатором Пользователя.
              p Пользователь осознает и принимает возможность использования на Сайте программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.2.1.2 данные в обезличенном виде.
              p К указанному программному обеспечению третьих лиц относятся:
              ol
                li системы по сбору аналитических данных: Google Analytics, Яндекс.Метрика.
                li Инструменты аналитики (пиксели) социальных сетей: Facebook, Вконтакте;
                li системы размещения рекламы: Google DoubleClick for Publishers (DFP), Google Adsense, Рекламная сеть Яндекса (РСЯ).
            li: p Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц определяются непосредственно их правообладателями и могут включать:
              ol
                li данные браузера (тип, версия, cookie);
                li данные операционной системы (тип, версия, разрешение экрана);
                li данные запроса (время, источник перехода, IP-адрес).
                li иные обезличенные данные о действиях Пользователя на Сайте.
            li: p Администрация сайта не несет ответственность за порядок использования Персональной информации Пользователя третьими лицами, с которыми Пользователь взаимодействует в рамках использования Сайта.
        li
          h2(style='display: inline;') Правовые основания обработки Персональной информации
          ol
            li
              p Правовые основания, на которых Администрация сайта использует Персональную информацию, включают:
              ol
                li: p Обработку Персональной информации, когда Пользователь предоставил согласие на обработку для одной или нескольких конкретных целей;
                li: p Обработку Персональной информации, которая необходима для исполнения Администрации сайта своих обязательств в соответствии с применимым правом.
        li
          h2(style='display: inline;') Политика применительно к детям
          ol
            li
              p=`Администрация сайта не осуществляет намеренный сбор персональных данных у детей в возрасте до 18 лет, не запрашивает ее и не разрешает им пользоваться Сайтом. Лицам, не достигшим 18 лет, не разрешается предоставлять личную информацию, включая имя, адрес, номер телефона и адрес электронной почты. Если Администрации сайта станет известно о том, что информация была получена от ребенка в возрасте до 18 лет, Администрация сайта безотлагательно удалит такую информацию. Если вы считаете, что нами могла быть получена какая-либо информация от ребенка или о ребенке в возрасте младше 18 лет, пожалуйста, свяжитесь с нами по электронной почте: ${email}.`
        li
          h2(style='display: inline;') Цели обработки Персональной информации
          ol
            li: p Администрация сайта осуществляет обработку, в том числе сбор и хранение той Персональной информации, которая указана в пункте 2.3 настоящей Политики, а также сделана общедоступной Пользователем путем заполнения профиля и установки настроек в Личном кабинете.
            li
              p Администрация сайта вправе использовать Персональную информацию в следующих целях:
              ol
                li: p Реализация функциональных возможностей Сайта по созданию и отображению профиля Пользователя.<br>Администрация сайта хранит, систематизирует и отображает профили Пользователей, содержащие Персональную информацию, которую Пользователи сделали общедоступной.
                li: p Идентификация Пользователя в рамках исполнения обязательств в рамках настоящей Политики; Личный кабинет Пользователя связан с паролем и адресом электронной почты Пользователя.
                li: p Оказание технической поддержки в связи с использованием Сайта; Обращения в службу поддержки принимаются по средством электронной почты.
                li: p Обеспечение связи с Пользователем в целях информационного обслуживания и улучшения качества Сайта, в том числе в порядке нотификации с привлечением третьих лиц; Связь с Пользователем осуществляется через электронную почту, указаннйю Пользователем при регистрации или в авторизации через социальную сеть (Google, Вконтакте, Facebook).
                li: p Использование обезличенных данных для таргетинга рекламных и/или информационных материалов по возрасту, полу, другим признакам.
                li: p Проведение маркетинговых, статистических и иных исследований на основе обезличенных данных. Данные из указанных в п. 2.6. систем сбора данных в обезличенном виде собираются и анализируются, чтобы узнать, сколько времени Пользователи проводят в различных разделах Сайта, их интересах и предпочтениях.
                li: p Исполнение требования законодательства.<br>Являясь организатором распространения информации в сети «Интернет», Администрация сайта хранит информацию о фактах приема, передачи, доставки и (или) обработки письменного текста, изображений, звуков, видео- или иных электронных сообщений пользователей сети «Интернет» и информацию об этих пользователях в течение одного года с момента окончания осуществления таких действий.
        li
          h2(style='display: inline;') Права Пользователя в отношении Персональной информации
          ol
            li
              p Если это предусмотрено применимым законодательством, Пользователь имеет право:
              ol
                li: p Получать информацию о сборе и использовании его персональных данных.
                li: p Получить доступ к своим персональным данным и исправлять их, если они неверные или неполные.
                li: p Запретить обработку своих персональных данных в случае, если их точность оспаривается, обработка осуществляется неправомерно, а также в случаях, когда Администрации сайта более не требуются персональные данные для целей, в которых они обрабатывались Администрацией сайта.
                li: p Возражать против обработки своих персональных данных, а также запрещать их обработку в случаях, если Администрация сайта обрабатывала их при исполнении задач в общественно-полезных или в собственных законных интересах, и при этом отсутствует вынужденная необходимость в продолжении такой обработки.
                li: p В любое время отозвать согласие, которое Пользователь предоставил на обработку своих персональных данных. В случае отзыва Пользователем своего согласия на обработку персональных данных, такой отзыв не повлияет на правомерность обработки, которую Администрация сайта осуществляет на основании такого согласия до его отзыва.
                li: p Требовать удаления своих персональных данных, в случаях: когда они более не относятся к целям, для которых они были собраны или обрабатывались; когда отозвано согласие и у Администрации сайтаа отсутствуют основания для продолжения обработки; когда имеются возражения против дальнейшей обработки в общественно-полезных или в собственных законных интересах Администрации сайта и отсутствует вынужденная необходимость в продолжении такой обработки; когда персональные данные обрабатывались неправомерно.
                li: p Не быть субъектом решения, основанного исключительно на автоматизированной обработке, включая профилирование, которое создает для Пользователя юридически значимые последствия или затрагивает иным аналогичным образом, за исключением случаев, когда существует правовое основание для продолжения обработки.
                li: p Получать персональные данные в структурированной, широко используемой, и машиночитаемой форме, чтобы иметь возможность переносить данные, в случаях, когда Сайт обрабатывает предоставленные персональные данные автоматизированными средствами.
            li: p Указанные права могут быть реализованы путем использования инструментов, которые Администрация сайта предлагает в личном кабинете Пользователя или посредством направления специального запроса Администрации сайта способами, описанными ниже. Администрация сайта своевременно ответит на любые такие запросы в соответствии с применимым правом. В некоторых случаях Администрация сайта может попросить Пользователя пройти процедуру идентификации перед обработкой запроса. Пользователь вправе обратиться к соответствующему надзорному органу в своей юрисдикции, если ответ Администрации сайта его не удовлетворяет.
        li
          h2(style='display: inline;') Хранение Персональной информации
          ol
            li: p Вся собранная Персональная информация хранится только в течение периода, когда она необходима для достижения целей, в которых такая информация была собрана, или в течение периода, разрешенного или требуемого в соответствии с положениями применимого законодательства. Периодически Администрация сайта проводит проверку систем обработки данных, для определения того, остаются ли действительными цели сбора и обработки персональных данных пользователей. Такое определение основано на ряде факторов, который включает, но не ограничивается следующим: поддерживает ли Пользователь отношения с Администрацией сайта, выполнены ли Администрацией сайта запросы Пользователя (включая любые дополнительные задания), а также существуют ли договорные или законные основания для продолжения хранения персональных данных Пользователя. Основываясь на результатах такой проверки и уведомлениях, полученных от субъектов персональных данных, Администрация сайта обновляет свои системы.
            li: p В целях повышения качества Сайта и обеспечения возможности правовой защиты, Администрация сайта вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта, а также в связи с заключением и исполнением Пользователем Соглашения и иных договоров со своей стороны, в течение 1 (Одного) года с момента их совершения.
        li
          h2(style='display: inline;') Требования к защите Персональной информации
          ol
            li: p Администрация сайта осуществляет хранение Персональной информации и обеспечивает ее охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.
            li: p В отношении Персональной информации Пользователя сохраняется ее конфиденциальность, за исключением общедоступной информации (п. 2.4. настоящей Политики).
        li
          h2(style='display: inline;') Передача Персональной информации
          ol
            li
              p Администрация сайта вправе передавать Персональную информацию третьим лицам в следующих случаях:
              ol
                li: p Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;
                li: p По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры.
        li
          h2(style='display: inline;') Изменение и удаление Персональной информации
          ol
            li: p Пользователь вправе в любой момент самостоятельно отредактировать в своем Личном кабинете предоставленную им при регистрации или авторизации Персональную информацию.
            li
              p Пользователь вправе удалить собственную учетную запись либо реализовать право на отзыв согласия на обработку его персональных данных путем направления Администрации сайта запроса на удаление своей учетной записи по адресу 
              a(href=`mailto:${email}`)=email
              |.
        li
          h2(style='display: inline;') Изменение Политики конфиденциальности
          ol
            li: p Настоящая Политика может быть изменена или прекращена Администрацией сайта в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.
            li
              p Действующая редакция Политики находится на Сайте в сети Интернет по адресу 
              a(href=head.canonical)=head.canonical
              |.
